@model PerfectInProcess.Models.ViewModel.EditRolesAndPermissionsViewModel
@{
    ViewBag.Title = "Assign Permissions";
    Layout = "~/Views/Layouts/_DefaultLayout.cshtml";
}
<script>
    function roleTableClick(val) {
        window.location.href = "/admin/EditRolesAndPermissionsRoleRowSelection?roleID=" + $(val).find('td:first').text();
    }

    function unassignedTableClick(val) {
        window.location.href = "/admin/EditRolesAndPermissionsUnassignedPermissionsRowSelection?AssignedPermissionsID=" + $(val).find('td:first').text();
    }

    function assignedTableClick(val) {
        window.location.href = "/admin/EditRolesAndPermissionsAssignedPermissionsRowSelection?UnassignedPermissionsID=" + $(val).find('td:first').text();
    }

    $(document).ready(function () {
        var CellCount = $('#hidTableHeight').val();
        var headerHeight = $('.tableHeaderHeight').height();
        var rowHeight = $('.tableRowHeight').height();
        var totalHeight = rowHeight + (CellCount * rowHeight);
        var padding = 20;
        $('.tableScroll').height(totalHeight + padding + 'px');
        
    });
</script>

<style>
    .tableHeaderHeight{
        height: 75px;
    }

    .tableRowHeight{
        height:60px;
    }
    .tableScroll
    {
        overflow-y:scroll;
    }
</style>


<h2>Assign Permissions</h2>

@using (Html.BeginForm("EditRolesAndPermissionsSubmitChanges", "Admin", FormMethod.Post, new { id = "EditRolesAndPermissionsRoleRowSelection" }))
{
    <div class="col-md-2" style="margin-bottom:50px;">
        <table class="table table-bordered table-hover table-striped" style="margin-bottom:0px">
            <tr class="tableHeaderHeight">
                <th>Roles</th>
            </tr>
        </table>
        <div class="tableScroll">
            <table class="table table-bordered table-hover table-striped" style="margin-bottom:0px">
                <tr class="tableHeaderHeight">
                    <th hidden="hidden">Role ID</th>
                    <th>Role Name</th>
                    <th hidden="hidden">Risk Level</th>
                </tr>
                @foreach (PerfectInProcess.Models.DataModel.RoleDataModel role in Model.InitialRoles)
                {
                    <tr onclick="roleTableClick(this)" class="tableRowHeight">
                        <td hidden="hidden">@role.RoleID</td>
                        <td>@role.RoleName</td>
                        <td hidden="hidden">@role.RiskLevel</td>
                    </tr>
                }

                @for (int i = 0; i < Model.TableHeight - Model.InitialRoles.Count; i++)
                {
                    <tr class="tableRowHeight">
                        <td hidden="hidden">&nbsp;</td>
                        <td>&nbsp;</td>
                        <td hidden="hidden">&nbsp;</td>
                    </tr>
                }
            </table>
        </div>
    </div>

    <div class="col-md-5">
        <table class="table table-bordered table-hover table-striped" style="margin-bottom:0px">
            <tr class="tableHeaderHeight">
                <th>Currently Assigned Permissions</th>
            </tr>
        </table>
        <div class="tableScroll">
            <table class="table table-bordered table-hover table-striped" style="margin-bottom:0px">
                <tr class="tableHeaderHeight">
                    <th hidden="hidden">Permission ID</th>
                    <th>Permission Name</th>
                    <th>Permission Group Name</th>
                    <th>Controller</th>
                    <th>Action</th>
                    <th hidden="hidden">Risk Level</th>
                </tr>
                @foreach (PerfectInProcess.Models.DataModel.PermissionsDataModel permission in Model.InitialAssignedPermissions)
                {
                    <tr onclick="assignedTableClick(this)" class="tableRowHeight">
                        <td hidden="hidden">@permission.PermissionID</td>
                        <td>@permission.PermissionName</td>
                        <td>@permission.PermissionGroupName</td>
                        <td>@permission.Controller</td>
                        <td>@permission.Action</td>
                        <td hidden="hidden">@permission.RiskLevel</td>
                    </tr>
                }

                @for (int i = 0; i < Model.TableHeight - Model.InitialAssignedPermissions.Count; i++)
                {
                    <tr class="tableRowHeight">
                        <td hidden="hidden">&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td hidden="hidden">&nbsp;</td>
                    </tr>
                }
            </table>
        </div>
    </div>

    <div class="col-md-5">
        <table class="table table-bordered table-hover table-striped" style="margin-bottom:0px">
            <tr class="tableHeaderHeight">
                <th>Currently Unassigned Permissions</th>
            </tr>
        </table>
        <div class="tableScroll">
            <table class="table table-bordered table-hover table-striped" style="margin-bottom:0px">
                <tr class="tableHeaderHeight">
                    <th hidden="hidden">Permission ID</th>
                    <th>Permission Name</th>
                    <th>Permission Group Name</th>
                    <th>Controller</th>
                    <th>Action</th>
                    <th hidden="hidden">Risk Level</th>
                </tr>
                @foreach (PerfectInProcess.Models.DataModel.PermissionsDataModel permission in Model.InitialUnassignedPermissions)
                {
                    <tr onclick="unassignedTableClick(this)" class="tableRowHeight">
                        <td hidden="hidden">@permission.PermissionID</td>
                        <td>@permission.PermissionName</td>
                        <td>@permission.PermissionGroupName</td>
                        <td>@permission.Controller</td>
                        <td>@permission.Action</td>
                        <td hidden="hidden">@permission.RiskLevel</td>
                    </tr>
                }

                @for (int i = 0; i < Model.TableHeight - Model.InitialUnassignedPermissions.Count; i++)
                {
                    <tr class="tableRowHeight">
                        <td hidden="hidden">&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td hidden="hidden">&nbsp;</td>
                    </tr>
                }
            </table>
        </div>
    </div>
    <input type="submit" class="btn btn-primary" value="Submit" />
    @Html.HiddenFor(m => m.TableHeight, new { id = "hidTableHeight" });
}