<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" 
Home 
Account 
Admin 
content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    

    <link href="~/Style/css/cssLayout.css" rel="stylesheet" />
    <script src="~/Style/js/jsLayout.js"></script>
    
</head>
<body>
    <div class="menu-main-container menu-main-height">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 menu-main-leftalign menu-main-height">
            <a class="btn menu-toggle-btn" onclick="toggleSecondaryMenu()">
                <span class="glyphicon glyphicon-menu-hamburger menu-toggle-icon"></span>
                <span class="menu-toggle-message">Menu</span>
            </a>
            <a class="btn menu-toggle-btn hidden" onclick="toggleSecondaryMenu()">
                <span class="glyphicon glyphicon-remove-circle menu-toggle-icon"></span>
                <span class="menu-toggle-message">Close</span>
            </a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 menu-main-centralalign menu-main-height">
            <h1 class="logo" onclick="location.href='@Url.Action("Index", "Home")'">Perfect In Process</h1>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 hidden-xs menu-main-rightalign menu-main-height"></div>
        
    </div>
    <div class="menu-main-height">
        
    </div>
    
    <div class="menu-secondary-container hidden">
        <ul>
            @foreach (var permissiongroup in ViewBag.PermissionGroups)
            {
                <li>
                    <a id="parent_@permissiongroup" class="w3-bar-item w3-button w3-border-bottom menu-sidebar-listitem" onclick="toggleSecondaryMenuGroup(this)">@permissiongroup
                        <span class="active-carrot 	glyphicon glyphicon-triangle-bottom hidden"></span>
                        <span class="inactive-carrot glyphicon glyphicon-triangle-right"></span>
                    </a>
                    <ul class="parent_@permissiongroup PermissionGroup hidden">
                        @foreach (var permission in ViewBag.Permissions)
                        {
                            if (permission[1] == permissiongroup)
                            {
                                <li class="w3-bar-item w3-button w3-border-bottom" onclick="location.href='@Url.Action(@permission[2], @permission[3])'">@permission[0]</li>
                            }
                        }
                    </ul>
                </li>
            }
        </ul>
    </div>

    <div class="w3-overlay w3-animate-opacity" onclick="toggleSecondaryMenu()" style="cursor:pointer;"></div>
    <div class="content">
        @RenderBody()
    </div>
</body>
</html>
